<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AppUrl" value="http://localhost:2739/" />
  <add key="AppPath" value="C:\\" />
  <add key="AppInfo" value="AZR.ADMIN.WEB.APP.v1.0.0" />
  <add key="AppName" value="AzR-Admin" />
  <add key="AppType" value="WEB" />
  <add key="AppVersion" value="1.0.0" />
</appSettings>
