<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  
  <!--MySQL-->
  <!--<add name="DefaultConnection" 
       connectionString="datasource=localhost;
                         port=3306;
                         database=AzRAdmin;
                         username=AzRAdmin;
                         password=AzRAdmin;
                         Convert Zero Datetime=True;
                         Allow User Variables=True;"
       providerName="MySql.Data.MySqlClient" />-->
  
  <!--MSSQL-->
  <!--<add name="DefaultConnection" 
           connectionString="Data Source=localhost;
                             Initial Catalog=AzRAdmin;
                             User ID=sa;
                             Password=AzRAdmin;
                             MultipleActiveResultSets=True;
                             Connect Timeout=10000" 
           providerName="System.Data.SqlClient" />-->
 
  <add name="DefaultConnection" 
       connectionString="Data Source=localhost;
                         Initial Catalog=AzRAdmin1;
                         Integrated Security=True;
                         MultipleActiveResultSets=True;
                         Connect Timeout=10000" 
       providerName="System.Data.SqlClient" />

  <add name="StudentConnection"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=localhost;Initial Catalog=STD;Integrated Security=True;MultipleActiveResultSets=true" />

  <!--Oracle-->
  <!--<add name="DefaultConnection"
       connectionString="User Id=C##AzRAdmin;Password=azr003;Data Source=localhost/orcl"
       providerName="Oracle.ManagedDataAccess.Client"/>-->

  <!--SQLite-->
  <!--<add name="DefaultConnection" 
       connectionString="Data Source=|DataDirectory|\AzRAdmin.db" 
       providerName="System.Data.SQLite" />-->

  <!--PostgreSQL-->
  <!--<add name="DefaultConnection"
       connectionString="Server=localhost;
                         Port=5432;
                         Database=AzRAdmin;
                         User Id=postgres;
                         Password=azr003;
                         Timeout=1000"
       providerName="Npgsql" />-->
  

</connectionStrings>