@model dynamic
<span class="btn btn-primary btnEdit btn-edd" data-id="@Model" data-action="edit" title="Edit"><i class="fa fa-edit fa-1x"></i></span>
@*<span class="btn btn-info btnDetails btn-edd" data-id="@Model" data-action="details" title="Details"><i class="fa fa-file-text fa-1x"></i></span>*@
<span class="btn btn-danger btnDelete btn-edd" data-id="@Model" data-action="delete" title="Delete"><i class="fa fa-trash-o fa-1x"></i></span>