@using AzR.Web.Root.ViewPage
<script type="text/javascript">
        $(function() {
            var notification = $.connection.notification;
            notification.client.notify = function() {
                getNotification();
            };
            $.connection.hub.start().done(function() {
                    getNotification();
                });
        });
        function getNotification() {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length === 0)return;
                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");
                var compiled = _.template($("#notifications-template").html());
                $("#all-notifications").html(compiled({ notifications: notifications }));
            });
        };
</script>
<script type="text/x-template" id="notifications-template">
    <ul class="list-group notifications">
        <% _.each(notifications, function(notification){%>
        <li class="list-group-item">
            <a href="javascript:void(0);">
                <span class="highlight"><%= notification.Alert %></span>
            </a>
        </li>
        <%})%>
        <li class="list-group-item message">
            <a href="javascript:vpid(0);">
                view all
            </a>
        </li>
    </ul>
</script>
