@using AzR.Web.Root.ViewPage
    <div id="mainContent">

    </div>

    <div id="splash-page" class="spiner" style="display: none;"></div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">

        </div>
    </div>
</div>
