@model AzR.Core.ViewModels.Admin.MenuViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
    </button>
    <h4 class="modal-title">Task Details</h4>
</div>
<div class="modal-body">
    <div>
        <table class="table table-bordered">

            <tr>
                <td>@Html.DisplayNameFor(model => model.DisplayName)</td>
                <td>@Html.DisplayFor(model => model.DisplayName)</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            data-dismiss="modal">
        Close
    </button>
</div>
