<div class="single_sidebar">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
        <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="category">
            <ul>
                <li class="cat-item"><a href="#">Sports</a></li>
                <li class="cat-item"><a href="#">Fashion</a></li>
                <li class="cat-item"><a href="#">Business</a></li>
                <li class="cat-item"><a href="#">Technology</a></li>
                <li class="cat-item"><a href="#">Games</a></li>
                <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                <li class="cat-item"><a href="#">Photography</a></li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
            <ul class="spost_nav">
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="/Uploads/Posts/post_img1.jpg"> </a>
                        <div class="media-body">
                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="/Uploads/Posts/post_img2.jpg"> </a>
                        <div class="media-body">
                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="/Uploads/Posts/post_img1.jpg"> </a>
                        <div class="media-body">
                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media wow fadeInDown">
                        <a href="pages/single_page.html" class="media-left"> <img alt="" src="/Uploads/Posts/post_img2.jpg"> </a>
                        <div class="media-body">
                            <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="single_sidebar wow fadeInDown">
    <h2><span>Category Archive</span></h2>
    <select class="catgArchive">
        <option>Select Category</option>
        <option>Life styles</option>
        <option>Sports</option>
        <option>Technology</option>
        <option>Treads</option>
    </select>
</div>
<div class="single_sidebar wow fadeInDown">
    <h2><span>Help Line</span></h2>
    <a class="sideAdd" href="#"><img src="/Uploads/Posts/helpLine.jpg" alt=""></a>
</div>

